.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}

.btn {
  padding: 5px 5px;
  cursor: pointer;
  text-transform: lowercase;
  max-width: 100px;
}

.btn::first-letter {
  text-transform: uppercase;
}
